.color{
    color: #666666 !important;
}

a{
    color: rgb(82, 82, 251) !important;
}

h1, h2, h4{
    color: #464646 !important;
}

h2{
    font-size: 2.1rem !important;
    line-height: 1.5;
    font-weight: 500;
}

/* bootstrap-btn */
.bootbtn{
    color: #fff !important;
}

/* Priceing */
.price{
    display: flex;
    margin-top: 2rem;
    gap: 5px;
}

.prices{
    display: flex;
    width: 30%;
}

.ppimg{
    width: 50% !important;
    height: 60% !important;
}

.pimg{
    width: 60%;
    height: 55%;
}

.price .prices p{
    font-size: 11px;
    margin-top: 2rem;
    line-height: 13px;
}


            